<!DOCTYPE html>
<!DOCTYPE html>
<html>
<head>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
</head>
<nav class="navbar navbar-expand-md navbar-light bg-light">
  <a href="#" class="navbar-brand"><img class="im" [src]="symbol"></a>
  <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
    <div class="navbar-nav">
      <a class="nav-item nav-link" routerLink="/">Home</a>
      <a class="nav-item nav-link" routerLink="/shop">Shop</a>
      <a class="nav-item nav-link" routerLink="/cart">Cart</a>&nbsp;
      <a class="nav-item nav-link" routerLink="/wishlist">Wishlist</a>
      <a class="nav-item nav-link" routerLink="/signup">Signup</a>&nbsp;
      <a class="nav-item nav-link" routerLink="/login">Login</a>&nbsp;
      <a class="nav-item nav-link" routerLink="/profile">Profile</a>&nbsp;
    </div>
  </div>
  <form class="form-inline">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Search">
    </div>
  </form>
</nav>
<div class="container" style="padding-top: 120px;">
  <table id="cart" class="table table-hover table-condensed" border="2" cellpadding="10">
    <thead style="text-align: center;">
    <tr>
      <th style="width:52%">Product</th>
      <th style="width:12%">Price</th>
      <th style="width:12%">Quantity</th>
      <th style="width:12%" class="text-center">Subtotal</th>
      <th style="width:12%"></th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td data-th="Product">
        <div class="row">
          <div class="col-sm-4 hidden-xs"><img [src]="blueshirt" alt="..." class="img-responsive"/></div>
          <div class="col-sm-7">
            <h4 class="nomargin">Product 1</h4>
            <p>Navy Blue solid formal shirt, has a spread collar, long sleeves, straight hem, one patch pocket.</p>
          </div>
        </div>
      </td>
      <td data-th="Price">Rs.699.99</td>
      <td data-th="Quantity">
        <input type="number" class="form-control text-center" value="1">
      </td>
      <td data-th="Subtotal" class="text-center">Rs.699.99</td>
      <td class="actions" data-th="" style="text-align: center;">
        <br>
        <button class="btn btn-info btn-sm" >Remove</button>
        <br><br>
        <button class="btn btn-danger btn-sm">Wishlist</button>
      </td>
    </tr>
    </tbody>
    <tfoot>
    <tr class="visible-xs">
      <td class="text-center"><strong>Total Rs.699.99</strong></td>
    </tr>
    <tr>
      <td><a href="#" class="btn btn-warning"><i class="fa fa-angle-left"></i> <a class="nav-item nav-link" routerLink="/shop">Continue Shopping</a></a></td>
      <td colspan="2" class="hidden-xs"></td>
      <td class="hidden-xs text-center"><strong>Total Rs.699.99</strong></td>
      <td><a href="#" class="btn btn-success btn-block">Checkout <i class="fa fa-angle-right"></i></a></td>
    </tr>
    </tfoot>
  </table>
</div>
</html>
