.im{
  width:45px;
  height:45px;
}
mat-card{
  display: inline-grid;
  margin-top:30px;
  margin-right: 50px;
}

.prem{
  font-family: Serif;
  font-size: large;
  text-align: center;
  padding: 10px;

}
.imo{
  padding-top: 10px;
  padding-left: 32px;
  width: 240px;
  text-align:center;
}
.pk{
  margin-left: 250px;
}
.cur{
  text-align: center;
  padding:10px;
}
