<!DOCTYPE html>
<html>
<head>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
</head>
<nav class="navbar navbar-expand-md navbar-light bg-light">
  <a href="#" class="navbar-brand"><img class="im" [src]="symbol"></a>
  <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
    <div class="navbar-nav">
      <a class="nav-item nav-link" routerLink="/">Home</a>
      <a class="nav-item nav-link" routerLink="/shop">Shop</a>&nbsp;
      <a class="nav-item nav-link" routerLink="/cart">Cart</a>&nbsp;
      <a class="nav-item nav-link" routerLink="/wishlist">Wishlist</a>&nbsp;
      <a class="nav-item nav-link" routerLink="/signup">Signup</a>&nbsp;
      <a class="nav-item nav-link" routerLink="/login">Login</a>&nbsp;
      <a class="nav-item nav-link" routerLink="/profile">Profile</a>&nbsp;
    </div>
  </div>
  <form class="form-inline">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Search">
    </div>
  </form>
</nav>
<br><section class="se">
  <section class="se1">
    Vyntra Mart Love To Shop More!
  </section><br><br>
  <section class="se2">
    <table class="tbl">
      <td><a class="nav-item nav-link" routerLink="/shop"><img class="im1" [src]="men"></a></td>
      <td><a class="nav-item nav-link" routerLink="/shop"><img class="im1" [src]="women"></a></td>
      <td><a class="nav-item nav-link" routerLink="/shop"><img class="im1" [src]="kids"></a><br><br></td>
    </table>
    <a class="nav-item nav-link" routerLink="/shop"><button class="btt">shop now</button></a>
  </section><br><br>

  <section class="se3">
    <h1>Featured Products</h1>
    <mat-grid-list cols="3" rowHeight="2:1" >
      <mat-grid-tile><a class="nav-item nav-link" routerLink="/shop"><img class="divimg" [src]="desk" ></a></mat-grid-tile>
      <mat-grid-tile><a class="nav-item nav-link" routerLink="/shop"><img class="divimg" [src]="dive" ></a></mat-grid-tile>
      <mat-grid-tile><a class="nav-item nav-link" routerLink="/shop"><img class="divimg" [src]="divs" ></a></mat-grid-tile>
      <mat-grid-tile><a class="nav-item nav-link" routerLink="/shop"><img class="divimg" [src]="divo" ></a></mat-grid-tile>
      <mat-grid-tile><a class="nav-item nav-link" routerLink="/shop"><img class="divimg" [src]="divb" ></a></mat-grid-tile>
      <mat-grid-tile><a class="nav-item nav-link" routerLink="/shop"><img class="divimg" [src]="divc" ></a></mat-grid-tile>
    </mat-grid-list>
  </section>

  <section class="se4">
    <h1>Fashion Editorials</h1>

    <section class="se4.1">
      <mat-card class="example-card">
        <a class="nav-item nav-link" routerLink="/shop"><div mat-card-avatar class="example-header-image"></div></a><br>
        <mat-card-title>Fashion</mat-card-title>
      </mat-card>
    </section>
    <section class="se4.1">
    <mat-card class="example-card">
      <a class="nav-item nav-link" routerLink="/shop"><div mat-card-avatar class="example-header-image1"></div></a><br>
      <mat-card-title>Denim</mat-card-title>
    </mat-card>
    </section>
    <section class="se4.1">
    <mat-card class="example-card">
      <a class="nav-item nav-link" routerLink="/shop"><div mat-card-avatar class="example-header-image2"></div></a><br>
      <mat-card-title>Dress</mat-card-title>
    </mat-card>
    </section>
    <section class="se4.1">
      <mat-card class="example-card">
        <a class="nav-item nav-link" routerLink="/shop"> <div mat-card-avatar class="example-header-image3"></div></a><br>
        <mat-card-title>T-Shirt</mat-card-title>
      </mat-card>
    </section>
    <section class="se4.1">
    <mat-card class="example-card">
      <a class="nav-item nav-link" routerLink="/shop"> <div mat-card-avatar class="example-header-image4"></div></a><br>
      <mat-card-title>Jacket</mat-card-title>
    </mat-card>
    </section>
  </section>
  <section class="se4">
    <section class="se4.1">
    <mat-card class="example-card">
      <a class="nav-item nav-link" routerLink="/shop"><div mat-card-avatar class="example-header-image5"></div></a><br>
      <mat-card-title>Pajamas</mat-card-title>
    </mat-card>
    </section>
    <section class="se4.1">
  <mat-card class="example-card">
    <a class="nav-item nav-link" routerLink="/shop"><div mat-card-avatar class="example-header-image6"></div></a><br>
    <mat-card-title>Shorts</mat-card-title>
  </mat-card>
    </section>
    <section class="se4.1">
  <mat-card class="example-card">
    <a class="nav-item nav-link" routerLink="/shop"><div mat-card-avatar class="example-header-image7"></div></a><br>
    <mat-card-title>Bathrobe</mat-card-title>
  </mat-card>
    </section>
    <section class="se4.1">
  <mat-card class="example-card">
    <a class="nav-item nav-link" routerLink="/shop"><div mat-card-avatar class="example-header-image8"></div></a><br>
    <mat-card-title>Raincoat</mat-card-title>
  </mat-card>
    </section>
    <section class="se4.1">
  <mat-card class="example-card">
    <a class="nav-item nav-link" routerLink="/shop"><div mat-card-avatar class="example-header-image9"></div></a><br>
    <mat-card-title>Sweater</mat-card-title>
  </mat-card>
    </section>
  </section>

</section>

</html>
